$main-color: #E91E63
$white: #F1F1F1
$blue: #474F61
$beige: #F7C59F
$dark: #2A324B
$black: #202020
$gblue: #066DAB

html, body
	width: 100%
	min-height: 100%
	margin: 0
	padding: 0
	background-color: $white
	overflow-x: hidden
*
	font-family: 'Open Sans', sans-serif
	box-sizing: border-box
.hide
	display: none
.wrapper
	height: 100%
.content
	height: 100%
p, a
	color: $dark
	font-family: 'Open Sans', sans-serif
	line-height: 1.4

a
	color: $main-color
	transition: color .4s
	text-decoration: none
	&:hover
		cursor: pointer
		color: $dark
ul, li
	list-style: none

h1, h2
	display: inline-block
	color: $white
	margin: 0
	padding: 0
	padding-left: 20px
	font-family: 'Source Sans Pro', sans-serif
	font-style: italic
	text-shadow: 0 0 5px rgba(white, .5)
h1
	font-size: 500%
h2
	font-size: 300%
	font-family: 'Montserrat-Light', sans-serif
h3
	color: #4a4a4a
	margin: 0
	padding: 0
	font-style: normal
	font-family: 'Varela'
	text-transform: uppercase
	font-size: 300%
.hl
	color: $main-color
header
	position: fixed
	z-index: 6
	top: 0
	width: 100%
	height: 50px
	background-color: $dark
	box-shadow: 0 0 10px 3px rgba($blue, .5)
	#me
		margin-left: 15px
		margin-top: 4px
		font-family: 'Open Sans', sans-serif
		font-style: italic
	nav
		float: right
	a
		color: $main-color
		text-shadow: 0 0 3px rgba($white, .1)
		font-family: 'Open Sans Condensed', sans-serif
		text-decoration: none
		font-size: 200%
		margin-right: 10px
		transition: color .4s
		font-weight: bold
		&:hover
			color: $white
			cursor: pointer
	#mobnav
		display: none
#svg_3, #svg_4, #svg_5
	transition: all .5s
	transform-origin: 50% 50%

.svg_3
	transform: rotate3d(0, 0, 1, 45deg)
	top: 0
.svg_5
	transform: translate(0, -3px) rotate3d(0, 0, 1, -45deg)
.svg_4
	transform: translate(0, 3px) rotate3d(0, 0, 1, 45deg)
.intro
	padding-top: 150px
	background-color: $main-color
	background: rgb(233,30,99)
	background: -moz-linear-gradient(45deg, rgba(233,30,99,1) 0%, rgba(6,109,171,1) 100%) 
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(233,30,99,1)), color-stop(100%,rgba(6,109,171,1))) 
	background: -webkit-linear-gradient(45deg, rgba(233,30,99,1) 0%,rgba(6,109,171,1) 100%) 
	background: -o-linear-gradient(45deg, rgba(233,30,99,1) 0%,rgba(6,109,171,1) 100%) 
	background: -ms-linear-gradient(45deg, rgba(233,30,99,1) 0%,rgba(6,109,171,1) 100%)
	background: linear-gradient(45deg, rgba(233,30,99,1) 0%,rgba(6,109,171,1) 100%)
	background: linear-gradient(230deg, $main-color, $gblue)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e91e63', endColorstr='#066dab',GradientType=1 )
	background-size: 200% 200%
	-webkit-animation: BackgroundWave 11s ease infinite
	-moz-animation: BackgroundWave 11s ease infinite
	-o-animation: BackgroundWave 11s ease infinite
	animation: BackgroundWave 11s ease infinite
	height: 100vh
	width: 100%
	.phoneimg
		display: none
	img
		max-height: 100%
		height: 74vh
		max-width: 100%
		max-height: 100%
		margin: auto
		display: block
		position: absolute
		top: 0
		left: 0
		bottom: 0
		right: 0
		z-index: 1
	.textbox
		position: relative
		z-index: 2
		width: 80vh
		max-width: 100%
		margin: 0 auto
		margin-top: 50px
		padding-top: 15px
		p
			opacity: 0
			text-align: right
			width: 100%
			position: relative
			margin-bottom: 45px
			span
				font-family: 'Montserrat'
				background-color: #ddd
				color: $main-color
				padding: 15px 20px
				border-radius: 20px
				position: relative
				&:before
					border-color: #ddd
					border-radius: 50% 50% 50% 50%
					border-style: solid
					border-width: 0 20px
					bottom: 0
					clip: rect(20px, 35px, 42px, 0px)
					content: " "
					height: 40px
					position: absolute
					right: -50px
					width: 30px
					z-index: -1
		p:nth-child(5)
			font-style: italic
			span
				font-size: 1.3em

	#down
		border: 1px solid $white
		border-radius: 5px
		color: $white
		padding: 20px
		font-size: 200%
		font-family: 'Source Sans Pro', sans-serif
		margin: 0 auto
		margin-top: 50px
		display: block
		width: 200px
		text-overflow: none
		text-align: center
		text-decoration: none
		transition: all .4s
		position: relative
		z-index: 2

		&:hover
			cursor: pointer
			color: white
			border: 1px solid white
			background-color: rgba($white, .2)
			box-shadow: 0 0 5px 1px rgba($white, .1)

.subintro
	margin: 0 auto
	h1
		padding-left: 0
		font-size: 300%
		color: $white
		text-align: center
		margin: 0 auto
		display: block
		text-shadow: 3px 3px 5px rgba($dark, .5)

	#whatido
		padding: 100px 0
		max-width: 100%
		width: 800px
		margin: 0 auto
		h3
			padding-bottom: 15px
		h3, p
			text-align: center
		p
			margin: 0
			padding-top: 5px
		p:nth-child(2)
			font-size: 125%
			color: #777
		p:nth-child(3), p:nth-child(4)
			font-size: 110%
			color: #999
		a
			padding-top: 20px
			font-size: 130%
			display: block
			width: 130px
			margin: 0 auto

	#skills
		background-color: $gblue
		background-image: url(resources/pics/subliey.jpg)
		background-repeat: no-repeat
		background-position: center
		width: 100%
		height: 600px
		position: relative
		div
			height: 100%
			width: 100%
			background-color: rgba($gblue, .2)
			position: absolute

.toolbar
	position: relative
	z-index: 1
	h3
		padding-top: 50px
		text-align: center
		color: $white
		text-shadow: 0 0 10px $black
	p:nth-child(2)
		text-align: center
		font-size: 120%
		color: #ccc
		text-shadow: 0 0 10px $black

.skillbox
	background-color: rgba($white, .3)
	display: flex
	flex-wrap: wrap
	width: 700px
	max-width: 100%
	padding-top: 20px
	margin: 0 auto
	padding-bottom: 20px
	-webkit-box-pack: center
	-webkit-justify-content: center
	-ms-flex-pack: center
	justify-content: center
	transition: background-color .4s
	img
		height: 80px
		padding: 10px
		transition: all .4s
		&:hover
			-webkit-transform: scale(1.6)
			-ms-transform: scale(1.6)
			transform: scale(1.6)
	&:hover
		background-color: $white

#examples
	margin-top: 100px
	h3, p:nth-child(2)
		text-align: center
	p:nth-child(2)
		color: #777
		font-size: 120%
#gallery
	margin-top: 100px
	background-color: $gblue
	div
		div
			height: 600px
			width: 100%
			background-size: contain
			background-repeat: no-repeat
.right
	top: 47%
	position: absolute
	right: 0
	background-image: url(resources/icons/right.svg)
	content: ""
	width: 80px
	height: 80px
	background-color: rgba($main-color, .3)
	border: 0
	background-size: cover
	transition: background-color .4s
	z-index: 5
	&:hover
		background-color: rgba($main-color, .9)
		cursor: pointer
	&:focus, &:active
		outline: none
.left
	@extend .right
	background-image: url(resources/icons/left.svg)
	left: 0
	background-color: rgba($gblue, .3)
	&:hover
		background-color: rgba($gblue, .9)
#cephei
	position: relative
	> div:first-child
		background-image: url(resources/pics/cepheilaptop.jpg)
		background-position: right
		background-color: $main-color
		display: flex
		justify-content: center
		flex-direction: column
		position: relative
		div:first-child
			background-color: rgba($main-color, .2)
			width: 100%
			position: absolute
			top: 0
		div:nth-child(2)
			padding-left: 40px
			position: relative
			z-index: 5
			height: auto
			h3, a, p
				text-shadow: 0 0 3px rgba(#212121, .7)
			h3
				font-family: 'Montserrat Ultralight', sans-serif
				text-align: left
				color: $white
				font-size: 150%
				text-transform: none
				span 
					font-family: 'Poiret One', sans-serif
					font-size: 170%
			a
				font-family: 'Poiret One', sans-serif
				padding-left: 40px
				color: darken($white, 5)
				font-size: 130%
				&:hover
					color: white
				span
					font-family: inherit
					color: $white
					&:hover
						color: $white
			p:nth-child(3)
				display: inline-block
				margin: 0
				padding-left: 5px
				color: $white
			p:nth-child(4)
				font-family: 'Montserrat Ultralight'
				color: white //darken($white, 10)
				line-height: 1.9

	> div:nth-child(2)
		background-color: $gblue
		background-image: url(resources/pics/cep.jpg)
		background-position: left
		display: flex
		justify-content: center
		flex-direction: column
		position: absolute
		top: 0
		left: 100vw
		div:first-child
			background-color: rgba($gblue, .2)
			width: 100%
			position: absolute
			top: 0
			transition: background-color 1s
			//&:hover
			//	background-color: transparent
		div:nth-child(2)
			height: auto
			padding-right: 40px
			text-align: right
			position: relative
			z-index: 5
			h3, a, p
				text-shadow: 0 0 3px rgba(#212121, .7)
			h3
				font-family: 'Montserrat Ultralight', sans-serif
				text-align: right
				color: $white
				font-size: 150%
				text-transform: none
				span
					font-family: 'Poiret One', sans-serif
					font-size: 170%
			a
				font-family: 'Poiret One', sans-serif
				color: darken($white, 5)
				font-size: 130%
				&:hover
					color: white
				span
					font-family: inherit
					color: $white
					&:hover
						color: $white
			p:nth-child(3)
				display: inline-block
				margin: 0
				padding-right: 5px
				color: $white
			p:nth-child(4)
				font-family: 'Montserrat Ultralight'
				color: white //darken($white, 10)
				line-height: 1.9


.getintouch
	padding-top: 100px
	> div
		margin: 0 auto
		display: flex
		justify-content: center
		flex-wrap: wrap
		width: 300px
		max-width: 100%
		div
			max-width: 100%
			margin: 0 auto
			p, img
				display: inline-block
			p
				margin-left: 15px
				vertical-align: top
		div:first-child
			img
				margin-right: 15px
			p
				margin-left: 0
				margin-right: 19px
	> p:nth-child(2)
		font-size: 120%
		color: #777
		text-align: center
		width: 100%
		
	h3
		text-align: center


.contactme
	display: flex
	justify-content: center
	margin-bottom: 50px
	margin-top: 30px
	a
		margin-right: 10px
		margin-left: 10px
		svg
			background-color: $blue
			padding: 10px
			fill: $white
			transition: fill .4s, background-color .4s, border .4s, padding .4s
			border-radius: 50%
			border: 1px solid transparent
			&:hover
				background-color: $white
				//-webkit-animation: spin .7s ease-in-out
				//-moz-animation: spin .7s linear
				//animation: spin .7s ease-in-out
				padding: 5px
		#Facebook
			&:hover
				fill: #3b5998
				border: 1px solid #3b5998
		#Github
			&:hover
				fill: #333
				border: 1px solid #333
		#Linkedin
			&:hover
				fill: #007bb6
				border: 1px solid #007bb6
		#Steam
			&:hover
				fill: #212121
				border: 1px solid #212121


#form
	max-width: 100%
	margin: 0 auto
	padding: 40px 0
	background-color: #d0d0df
	display: block
	input, textarea
		padding: 20px
		display: block
		max-width: 100%
		width: 400px
		margin: 0 auto
		background-color: $white
		color: $black
		border: 0
		border-bottom: 2px solid $gblue
		transition: background-color .4s
		box-sizing: border-box
		font-family: 'Open Sans', sans-serif
		&::-webkit-input-placeholder
			color: $blue
		&::-moz-placeholder
			color: $blue
		&:-moz-placeholder
			color: $blue
		&:-ms-input-placeholder
			color: $blue

		&:hover
			border-bottom: 4px solid $gblue
			padding-bottom: 18px
		&:focus, &:active
			outline: none
			border-bottom: 4px solid $gblue
			padding-bottom: 18px
			background-color: white
			color: $gblue !important
			&::-webkit-input-placeholder
				color: $gblue
			&::-moz-placeholder
				color: $gblue
			&:-moz-placeholder
				color: $gblue
			&:-ms-input-placeholder
				color: $gblue
	input[type=submit]
		background-color: $gblue
		background: #066DAB
		background-image: -webkit-linear-gradient(top, #066DAB, #2980b9)
		background-image: -moz-linear-gradient(top, #066DAB, #2980b9)
		background-image: -ms-linear-gradient(top, #066DAB, #2980b9)
		background-image: -o-linear-gradient(top, #066DAB, #2980b9)
		background-image: linear-gradient(to bottom, #066DAB, #2980b9)
		font-family: 'Montserrat', sans-serif
		font-size: 120%
		transition: all .4s
		color: white
		&:hover
			background: #3cb0fd
			background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db)
			background-image: -moz-linear-gradient(top, #3cb0fd, #3498db)
			background-image: -ms-linear-gradient(top, #3cb0fd, #3498db)
			background-image: -o-linear-gradient(top, #3cb0fd, #3498db)
			background-image: linear-gradient(to bottom, #3cb0fd, #3498db)
			text-decoration: none
			border-bottom: 2px solid $blue
			padding-bottom: 20px
textarea
	border-bottom: 0 !important
	&:hover, &:active, &:focus
		border-bottom: 0px solid black !important
		padding-bottom: 20px !important
footer
	text-align: center
	padding: 10px
	border-top: 2px solid rgba($dark, .3)
	background-color: $dark
	color: lighten($dark, 60)
	font-family: 'Lato', sans-serif
	box-shadow: 0 -5px 3px 0 rgba($dark, .2)
	a:hover
		color: $beige

// ABOUT //


#aboutme
	margin-top: 100px
	width: 100%
	p
		max-width: 100%
		width: 600px
		margin: 0 auto
		line-height: 1.4
	h3
		text-align: center
		margin-bottom: 40px
	img
		margin: 0 auto
		display: block
		max-width: 100%
		padding: 0
	div
		width: 100%
		margin-bottom: 80px
	div:nth-child(3)
		background-color: $blue
	div:nth-child(5)
		background-color: $main-color
	div:last-of-type
		margin-bottom: 20px
	.quotehighlight
		padding-left: 15px
		font-size: 1.35em
		color: $dark
		font-family: "Open Sans Condensed"
		font-weight: bold
		font-style: italic
		&:before
			content: '"'
			position: relative
			right: 3px
		&:after
			content: '"'
			position: relative
			left: 3px


.illini
	color: #ff8800
// FONT FACE //

@font-face
	font-family: 'Montserrat Light'
	src: url(resources/fonts/Montserrat-Light.otf)
@font-face
	font-family: 'Montserrat Ultralight'
	src: url(resources/fonts/Montserrat-UltraLight.otf)



// EXAMPLES //
.examplehead
	padding-top: 100px
	padding-bottom: 50px
	font-family: 'Montserrat', sans-serif
	font-size: 4em
	text-align: center
	color: $white
	background: $main-color
	span
		font-family: 'Montserrat', sans-serif
.examplesdiv
	padding-top: 30px
	h1
		color: $main-color
		a
			font-family: 'Lato', sans-serif
			&:hover
				color: darken($main-color, 10)
	div
		max-width: 100%
		width: 800px
		margin: 0 auto
		margin-bottom: 40px
	img
		max-height: 450px
		max-width: 100%
		margin-top: 10px
		background-color: rgba($gblue, .7)

	p
		margin: 0
		&:nth-child(3)
			margin-top: 15px
			font-family: 'Verala', sans-serif
			font-size: 140%
			color: $main-color
	li
		display: inline-block
		padding: 5px 9px
		border-radius: 5px
		color: $white
		margin: 3px
		background-color: $main-color
		box-shadow: 1px 1px 10px 2px rgba($black, .3)
		font-family: 'Lato', sans-serif
	li.js
		background-color: $gblue
	li.api
		background-color: #009966

// ANIMATIONS //

@-webkit-keyframes BackgroundWave
	0%
		background-position: 97% 0%
	50%
		background-position: 4% 100%
	100%
		background-position: 97% 0%

@-moz-keyframes BackgroundWave
	0%
		background-position: 97% 0%
	50%
		background-position: 4% 100%
	100%
		background-position: 97% 0%

@-o-keyframes BackgroundWave
	0%
		background-position: 97% 0%
	50%
		background-position: 4% 100%
	100%
		background-position: 97% 0%

@keyframes BackgroundWave
	0%
		background-position: 97% 0%
	50%
		background-position: 4% 100%
	100%
		background-position: 97% 0%

.animated 
	-webkit-animation-duration: .75s
	animation-duration: .75s
	-webkit-animation-fill-mode: both
	animation-fill-mode: both



@-webkit-keyframes bounceIn 
	from, 20%, 40%, 60%, 80%, 100% 
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)

	0% 
		opacity: 0
		-webkit-transform: scale3d(.3, .3, .3)
		transform: scale3d(.3, .3, .3)


	20% 
		-webkit-transform: scale3d(1.1, 1.1, 1.1)
		transform: scale3d(1.1, 1.1, 1.1)


	40% 
		-webkit-transform: scale3d(.9, .9, .9)
		transform: scale3d(.9, .9, .9)


	60% 
		opacity: 1
		-webkit-transform: scale3d(1.03, 1.03, 1.03)
		transform: scale3d(1.03, 1.03, 1.03)


	80% 
		-webkit-transform: scale3d(.97, .97, .97)
		transform: scale3d(.97, .97, .97)


	100% 
		opacity: 1
		-webkit-transform: scale3d(1, 1, 1)
		transform: scale3d(1, 1, 1)


@keyframes bounceIn 
	from, 20%, 40%, 60%, 80%, 100% 
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)


	0% 
		opacity: 0
		-webkit-transform: scale3d(.3, .3, .3)
		transform: scale3d(.3, .3, .3)


	20% 
		-webkit-transform: scale3d(1.1, 1.1, 1.1)
		transform: scale3d(1.1, 1.1, 1.1)


	40% 
		-webkit-transform: scale3d(.9, .9, .9)
		transform: scale3d(.9, .9, .9)


	60% 
		opacity: 1
		-webkit-transform: scale3d(1.03, 1.03, 1.03)
		transform: scale3d(1.03, 1.03, 1.03)


	80% 
		-webkit-transform: scale3d(.97, .97, .97)
		transform: scale3d(.97, .97, .97)


	100% 
		opacity: 1
		-webkit-transform: scale3d(1, 1, 1)
		transform: scale3d(1, 1, 1)


.bounceIn 
	-webkit-animation-name: bounceIn
	animation-name: bounceIn

@-moz-keyframes spin
	100%
		-moz-transform: rotate(360deg)
@-webkit-keyframes spin
	100%
		-webkit-transform: rotate(360deg)
@keyframes spin
	100%
		-webkit-transform: rotate(360deg)
		transform: rotate(360deg)


/// 1.96:1 ratio for examples
@media (max-width: 1800px)
	#cephei
		> div:first-child
			background-position: center
			background-size: cover
			div:nth-child(2)
				h3, a, p, a
					text-shadow: 1px 2px 3px rgba(#002233, .7)
		> div:nth-child(2)
			background-position: center
			background-size: cover
			div:nth-child(2)
				h3, a, p, a
					text-shadow: 1px 2px 6px rgba(#553222, 1)
			



@media (max-width: 1000px)
	h1
		font-size: 6.2vw
	h2
		font-size: 5.2vw
	//h3

		//font-size: 10vw
	.examplesdiv h1
		font-size: 3em
	#examples
		#gallery
			#cephei
				#cep1, #cep2
					background-position: center
					height: 400px
					div:first-child
						height: 100%
						background-color: rgba(black, .3)
					div:nth-child(2)
						padding: 30px

@media (max-width: 700px)
	header
		background-color: transparent
		box-shadow: none
		nav
			display: none
			width: 100%
			height: 100%
			background-color: $main-color
			position: fixed
			top: 0
			a:first-child
				margin-top: 16vh

			a
				font-family: 'Montserrat', sans-serif
				padding: 20px
				text-align: center
				color: $gblue
				color: white
				display: block
				transition: background-color .4s
				margin: 0
				&:hover
					background-color: $blue
		#mobnav
			width: 44px
			height: 44px
			display: block
			float: right
			position: relative
			z-index: 100
			background-color: $main-color
			margin-right: 0
			&:hover
				cursor: pointer
	#me
		display: none
		
	#homebutton.aboutbutton
		padding: 2px 8px
		background-color: #d1d1d1 
		&:hover
			color: $gblue
		
	.subintro
		#whatido
			p:nth-child(2)
				font-size: 4vw
			p:nth-child(3)
				font-size: 3.7vw
			p:nth-child(4)
				font-size: 3.5vw
			a:nth-child(5)
				font-size: 4.5vw
				width: auto
				text-align: center
	#examples
		#gallery
			#cephei
				#cep1, #cep2
					div:nth-child(2)
						h3
							font-size: 5.5vw
							span
								display: block
								font-size: 13vw
						a:nth-child(2)
							font-size: 5vw
							padding: 0
						p:nth-child(3)
							font-size: 3.5vw

						p:nth-child(4)
							font-size: 3.8vw
							line-height: 1.3
							br
								display: none
	.right
		top: calc(50% - 3vw)
		width: 10vw
		height: 10vw
	footer
		margin-top: 30px
	.aboutpad
		p
			padding: 0 10px

	
	.intro
		padding-top: 30px
		text-align: center
		.desktopimg
			display: none
		.textbox
			padding-right: 20px
			margin-top: 30px
			p 
				margin: 0
				margin-bottom: 30px
				span
					padding: 10px 15px
			p:nth-child(4)
				background-color: #ddd
				padding: 10px 15px
				padding-left: 5px
				border-radius: 20px
				span
					padding: 0
					border-radius: 0
					position: relative
					&:before
						display: none
				&:before
					border-color: #ddd
					border-radius: 50% 50% 50% 50%
					border-style: solid
					border-width: 0 20px
					bottom: 0
					clip: rect(20px, 35px, 42px, 0px)
					content: " "
					height: 40px
					position: absolute
					right: -50px
					width: 30px
					z-index: -1
		#down
			display: inline-block
			width: auto
			font-size: 160%
	.subintro
		#skills
			height: auto

	#examples
		#gallery
			#cephei
				#cep1
					div:nth-child(2)
						padding: 8px
	#form
		padding: 0
		box-shadow: 0 0 3px 3px rgba(#ccc, .5)
	
	.examplehead
		font-size: 15vw
@media (max-width: 320px)
	.intro
		.textbox
			margin-top: 20px
			p
				margin-bottom: 25px
				span
					padding: 10px 15px
			p:nth-child(4)
				background-color: #ddd
				padding: 10px 15px
				padding-left: 5px
				border-radius: 20px
@media (max-height: 500px)
	.intro #down
		margin-top: 20px
	header nav a:first-child
		margin-top: 40px

@media (max-height: 74vw) and (max-width: 1366px)
	.intro .textbox
		margin-top: 10px
	.intro
		padding-top: 120px

